#btnModal {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: #e3e3;
    color: #000;
    font-weight: 600;
}

.modal {
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
    width: 500px;
    min-height: 200px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    box-shadow: black 14px 14px 28px;
    border-radius: 20px;
    position: relative;
}

.hidden {
    display: none;
}

.close {
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: -25px;
    right: -25px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b3b3b3;
    line-height: 50px;
    text-align: center;
    box-shadow: black 11px 0 28px;
}

.close:hover {
    background-color: #a39bb0;
}
